html, body {
    height: 100%;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:60px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -60px; /** negative value of footer height *!*/
    height: 60px;
    clear:both;
    padding-top:20px;
    text-align: center;
    background-color: transparent;
}

.navbar {
    background-color: transparent;
    border-color: black;

}


#app {
    height: 100%;
    margin: 2%;

}

.card {

    min-width: 250px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}



.card:hover{


    background-color:lightgray;
}

.createbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

