
html{
    height: 100%;
}

body {
    height: 100%;
    /*background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/

    background-image: url("/assets//images/pencil_background2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'The Girl Next Door', cursive;
}


#wrap {
    min-height: 100%;
}

#main {
    /*overflow:auto;*/
    padding-bottom:60px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -60px; /** negative value of footer height *!*/
    height: 60px;
    clear:both;
    padding-top:20px;
    text-align: center;
    background-color: transparent;

}

/*Navbar*/
.navbar {
    background-color: transparent;
    border-color: black;
}


#app {
    height: 100%;
    margin: 2%;

}

/*Cards*/

.card {

    width: 300px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

}
.card-form
{
    width: auto;
    min-width: 350px;
    max-width: 550px!important;

}
.card-box{
    background-color:transparent!important;
    border-color: transparent!important;
}
.card-body{
    height: 100%;
    overflow-y: auto;
}

.card-body-box{
    height: 120px;
    overflow-y: auto;
    margin-top:74px;
    margin-right: 50px;
}

.card-body-card {
    margin-top:15px;
}

.custom-card-footer{
    margin-top: -15px;
}


.card:hover{
    background-color:lightgray;
}

/*Form Sections*/
.createbox,
.createcard{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Edit Box Wheel*/
.settingsWheel{
    margin:3px;
}

.settingsWheel:hover {

    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}



h1 {
    text-align: center;
}



/*createcard.html*/
