@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/bookicon.png")">
        <link rel="" media="screen" href="@routes.Assets.versioned("lib/material-design-icons/MaterialIcons-Regular.ttf")">



    </head>
    <body>

        <div id="wrap">
            <div id="main" class=" clear-top">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#/learnnow">JK Lern App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#/learnnow">Jetzt lernen <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/score">Auswertung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#/about ">Über uns</a>
                    </li>
                </ul>


            </div>
        </nav>






        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

            </div>
        </div>


        <footer class="footer">
            <div class="footer-content">
                <span class="text-muted">
                    <small>Copyright 2018 &copy;, Silvio J&auml;ger &amp; Silvan Knecht</small>
                </span>
            </div>

        </footer>

        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/popper.js/dist/umd/popper.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/sammy/sammy.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>



    </body>
</html>
